<head>
  <!-- script src="https://cdn.plot.ly/plotly-latest.min.js"></script-->
  <script src="file:///home/ben/dev/tools/gatling-report/src/main/resources/plotly-latest.min.js"></script>
</head>

<body>

<h1>{{simStat.scenario}} {{simStat.startDate}}</h1>

  <div id="totalDiv" style="width: 400px; height: 300px;">/div>
  <div id="responseDiv" style="width: 400px; height: 300px;"></div>
  <div id="allDiv" style="width: 1200px; height: 600px;"></div>

  <script>
var data = [{
  values: [{{simStat.successCount}}, {{simStat.errorCount}}],
  labels: ['Success', 'Error'],
  title: 'all',
  type: 'pie'
}];
var layout1 = {
  height: 300,
  width: 400,
  title: '{{simStat.scenario}}'
};
var layout2 = {
  height: 300,
  width: 400,
  yaxis: {title: 'Time ms', type: 'log'}
};

Plotly.newPlot('totalDiv', data, layout1);
var data = [
  {
    y: {{simStat.durations}},
    boxpoints: 'all',
    jitter: 0.3,
    pointpos: -1.8,
    type: 'box'
  }
];
Plotly.newPlot('responseDiv', data, layout2);

var layout3 = {
  height: 600,
  width: 1200,
  yaxis: {title: 'Time ms', type: 'log'}
};

var dataAll = [];
{{#requests}}
var data{{indice}} = {
    y: {{durations}},
    boxpoints: 'all',
    jitter: 0.2,
    pointpos: -5,
    name: '{{request}}',
    type: 'box'
  };
dataAll.push(data{{indice}});
{{/requests}}
Plotly.newPlot('allDiv', dataAll, layout3);

  </script>



</body>

