<head>
  <!-- script src="https://cdn.plot.ly/plotly-latest.min.js"></script-->
  <script src="file:///home/ben/dev/tools/gatling-report/src/main/resources/plotly-latest.min.js"></script>
</head>

<body>

<h1>{{simStat.scenario}} {{simStat.startDate}}</h1>

<div>Bench: {{simStat.scenario}}</div>
<div>Launched: {{simStat.startDate}}</div>
<div>Duration: {{simStat.duration}} seconds</div>
<div>Total requests: {{simStat.count}}</div>
<div>Average request per second: {{simStat.rps}}</div>

  <div id="totalDiv" style="width: 400px; height: 300px;"></div>
  <div id="responseDiv" style="width: 400px; height: 300px;"></div>
  <div id="allDiv" style="width: 1200px; height: 600px;"></div>

  <script>
var data = [{
  values: [{{simStat.successCount}}, {{simStat.errorCount}}],
  labels: ['Success', 'Error'],
  type: 'pie',
  marker: {
    colors: ['rgb(56,75,126)', 'rgb(255,67,67)']
  }
}];
var layout1 = {
  height: 300,
  width: 400,
  title: '{{simStat.scenario}} Errors'
};
Plotly.newPlot('totalDiv', data, layout1);

var layout2 = {
  height: 400,
  width: 300,
  yaxis: {
    title: 'Time ms',
    type: 'log'
  },
  title: 'Response time all requests'
};
var data = [
  {
    y: {{simStat.durations}},
    boxpoints: 'all',
    jitter: 0.3,
    pointpos: -1.8,
    boxmean: 'sd',
    type: 'box'
  }
];
Plotly.newPlot('responseDiv', data, layout2);

var layout3 = {
  height: 600,
  width: 1200,
  yaxis: {
    title: 'Time ms',
    type: 'log',
    zeroline: true
  },
  xaxis: {
    showticklabels: false
  },
  title: '{{simStat.scenario}} {{simStat.startDate}} requests response time',
  showlegend: true
};

var dataAll = [];
{{#requests}}
var data{{indice}} = {
    y: {{durations}},
    boxpoints: 'all',
    jitter: 0.2,
    pointpos: -5,
    name: '{{request}}',
    boxmean: 'sd',
    type: 'box'
  };
dataAll.push(data{{indice}});
{{/requests}}
Plotly.newPlot('allDiv', dataAll, layout3);

  </script>

</body>

