<!DOCTYPE html>
<head>
  <!-- script src="https://cdn.plot.ly/plotly-latest.min.js"></script-->
  <script src="file:///home/ben/dev/tools/gatling-report/src/main/resources/plotly-latest.min.js"></script>
</head>

<h1>{{scenario}} Trend report</h1>

<div id="totalDiv"></div>
{{#requests}}
<div id="div{{indice}}""></div>
{{/requests}}

<script>
function clone(obj) {
    if(obj == null || typeof(obj) != 'object')
        return obj;
    var temp = new obj.constructor();
    for(var key in obj)
        temp[key] = clone(obj[key]);
    return temp;
}

var data = [{
  type: 'scatter',
  mode: 'lines',
  x: {{{all.xvalues}}},
  y: [],
  line: {
    width: 2
  },
  error_y: {
    array: [],
    thickness: 0.5,
    width: 0
  },
  name: 'Response time'
  },
  {
    type: 'scatter',
    mode: 'lines',
    x: {{{all.xvalues}}},
    y: [],
    yaxis: 'y2',
    name: 'Requests/s'
  }
];

var layout = {
  title: "",
  xaxis: {
    title: "Date"
  },
  yaxis: {
    title: "Time in ms",
    rangemode: "nonnegative"
  },
  yaxis2: {
    title: 'Requests per second',
    overlaying: 'y',
    side: 'right',
    rangemode:"tozero"
  }
};

var layoutAll = clone(layout);
layoutAll["title"] = "{{scenario}} - Response time (avg + stddev)";
var dataAll = clone(data);
dataAll[0]["y"] = {{{all.yvalues}}};
dataAll[0]["error_y"]["array"] = {{{all.yerrors}}};
dataAll[1]["y"] = {{{all.rps}}};

Plotly.plot('totalDiv', dataAll, layoutAll, {showLink: false});

{{#requests}}
var layout{{indice}} = clone(layout);
layout{{indice}}["title"] = "{{name}} - Response time (avg + stddev)";
var data{{indice}} = clone(data);
data{{indice}}[0]["y"] = {{{yvalues}}};
data{{indice}}[0]["error_y"]["array"] = {{{yerrors}}};
data{{indice}}[1]["y"] = {{{rps}}};
Plotly.plot('div{{indice}}', data{{indice}}, layout{{indice}}, {showLink: false});

{{/requests}}
</script>

